body {
  background: #fffaf5;
}

/* tænker den her skal være i vores fælles css, men ligger den lige her nu :) */
img {
  max-width: 100%;
}

#banner {
  display: none;
}

#login {
  display: grid;
  place-content: center;
  background-color: #aabbbf;
  background: url(/img/agurker_splash.webp);
  /* padding: 90px 30px 120px 30px; */
  height: 100vh;
  width: 100%;
  background-size: cover;
  /* margin: 40px 0; */
  /* box-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.16); */
}

.login_flex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 100px;
}

#login h4 {
  padding-top: 15px;
  color: #fff;
  text-transform: none;
  font-family: lemonde-sans, sans-serif;
  font-weight: normal;

  text-shadow: 0px 0px 5px hsla(0, 0%, 0%, 0.8);
}

.eksisterende_bruger {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.ny_bruger {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_text {
  padding: 5px;
  border: solid 1px #10492a4f;
  box-shadow: inset 0px 0px 4px hsla(0, 0%, 0%, 0.16);
  color: #609176;
  font-family: lemonde-sans, sans-serif;
}
.input_text::placeholder {
  color: #638891;
}

.knap {
  background: hsl(156, 15%, 49%);
  font-family: lemonde-sans, sans-serif;
  color: #fff;
  border: none;
  transition: 0.1s;
}

.knap:hover {
  background: hsl(151, 14%, 55%);
}

.knap:active {
  background: hsl(151, 14%, 60%);
}
.knap,
.input_text {
  height: 30px;
  width: 240px;
}

.review_box h4 {
  color: #fff;
  font-size: 1.6rem;
}
.review_box p,
.review_box cite {
  color: #c7d6d9;
  /* font-style: italic; */
  font-size: 1.3rem;
  font-family: source-sans-pro, sans-serif;
}

.review_box {
  padding: 40px 100px 40px 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: #698f80;
  justify-content: space-evenly;
}

#review_box {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-bottom: 10px;
}

#review_box input[type="radio"] {
  display: none;
}
#review_box label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  z-index: 1;
  background: #698f80;
  /* min-height: 400px; */
}
#overflow {
  /* width: 100%; */
  overflow: hidden;
  height: 100%;
}

.slide-content {
  max-width: 65ch;
  padding: 0 20px;
}

#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  min-height: 430px;
  display: flex;
}
#slides .slide {
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#bullets {
  margin: -30px 0 0;
  text-align: center;
  position: relative;
  z-index: 5;
}
#bullets label {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: hsla(0, 0%, 100%, 0.527);
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background: rgba(0, 0, 0, 0.411);
}

#review_box h4 {
  color: #fff;
  font-size: 1.6rem;
}
#review_box p,
#review_box cite {
  color: #c7d6d9;
  /* font-style: italic; */
  font-size: 1.3rem;
  font-family: source-sans-pro, sans-serif;
  margin-bottom: 15px;
}

@media (min-width: 900px) {
  .slide-content {
    padding: 0;
  }
  #overflow > h4 {
    margin: 20px 0 -30px 0;
  }
}
