body {
    
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    
}

.nocolor {
    background-color: unset;
}

#web {
    transition: .5s;
}

.nocolor .nav_wrapper a {
    padding: 5px;
    font-family: lemonde-sans, sans-serif;
    color: #FFF1E1;
    font-weight: normal;
    height: auto;
    position: relative;
}

.nocolor .nav_wrapper a:hover {
    color: #FFF1E1;
}

.nocolor .nav_wrapper a:after {
    position: absolute;
        content: '';
        height: 2px;
        bottom: 2px; 
        margin: 0 auto;
		left: 0;
        right: 0;
		width: 0;
		background: #FFF1E1;
        transition: 0.5s;
}

.nocolor .nav_wrapper a:hover:after {
    width: 100%;
    transition: 0.5s;
}

.openMenu {
    stroke: red;
}

.splash_container {
    display: grid;
    height: 100vh;
    overflow: hidden;
}

video {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    pointer-events: none;
}

.overlay {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    background-color: rgba(255, 151, 62, .30);
    width: 100%;
    height: 100%;
}
