.intro {
  width: 100%;
  height: 8%;
  background-image: url(/img/Appelsiner.webp);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.introtekst {
  object-fit: cover;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 55pt;
  color: #1a40aa;
  grid-column: 2/4;
}

/* AFSNIT MED VIDEO */

.afsnit1 {
  display: grid;
  padding-top: 7%;
  background-color: #fffaf5;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.box_1 {
  /* width: 60%;
  height: 450px; */
  background-color: #fff1e1;
  outline: 1px dashed magenta;
  grid-column: 1/4;
  grid-row: 1/5;
  object-fit: cover;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video1 {
  object-fit: cover;
  grid-column: 3/6;
  grid-row: 2/6;
  padding-right: 2%;
}

.afsnit2 {
  display: flex;
  padding-top: 10%;
  background-color: #fffaf5;
}
